demo-1/src/main/resources/wsdl/ArticleWebService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="ArticleWebService" targetNamespace="http://webService.demo.example.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://webService.demo.example.com/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://webService.demo.example.com/" elementFormDefault="unqualified" targetNamespace="http://webService.demo.example.com/" version="1.0">
<xs:element name="Article">
<xs:complexType>
<xs:sequence>
<xs:element name="filename" type="xs:ID"/>
<xs:element name="title" type="xs:string"/>
<xs:element name="content" type="xs:string"/>
<xs:element name="magazineName" type="xs:string"/>
<xs:element maxOccurs="unbounded" name="authors" type="tns:User"/>
<xs:element maxOccurs="unbounded" name="keywords" type="xs:string"/>
<xs:element name="abstracts" type="xs:string"/>
<xs:element maxOccurs="unbounded" name="reviewers" type="tns:User"/>
<xs:element name="scientificField" type="xs:string"/>
<xs:element name="file" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="articleBooleanQueryRequest" type="tns:articleBooleanQueryRequest"/>
<xs:element name="articleBooleanQueryResponse" type="tns:articleBooleanQueryResponse"/>
<xs:element name="articleFindAllRequest" type="tns:articleFindAllRequest"/>
<xs:element name="articleFindAllResponse" type="tns:articleFindAllResponse"/>
<xs:element name="articleFindByAbstractFieldRequest" type="tns:articleFindByAbstractFieldRequest"/>
<xs:element name="articleFindByAbstractResponse" type="tns:articleFindByAbstractResponse"/>
<xs:element name="articleFindByAuthorsNameAndSurnameRequest" type="tns:articleFindByAuthorsNameAndSurnameRequest"/>
<xs:element name="articleFindByAuthorsNameAndSurnameResponse" type="tns:articleFindByAuthorsNameAndSurnameResponse"/>
<xs:element name="articleFindByDistanceRequest" type="tns:articleFindByDistanceRequest"/>
<xs:element name="articleFindByDistanceResponse" type="tns:articleFindByDistanceResponse"/>
<xs:element name="articleFindByKeywordsRequest" type="tns:articleFindByKeywordsRequest"/>
<xs:element name="articleFindByMagazineRequest" type="tns:articleFindByMagazineRequest"/>
<xs:element name="articleFindByMagazineResponse" type="tns:articleFindByMagazineResponse"/>
<xs:element name="articleFindByScientificFieldRequest" type="tns:articleFindByScientificFieldRequest"/>
<xs:element name="articleFindByScientificFieldResponse" type="tns:articleFindByScientificFieldResponse"/>
<xs:element name="articleFindByTextRequest" type="tns:articleFindByTextRequest"/>
<xs:element name="articleFindByTextResponse" type="tns:articleFindByTextResponse"/>
<xs:element name="articleFindByTitleRequest" type="tns:articleFindByTitleRequest"/>
<xs:element name="articleFindByTitleResponse" type="tns:articleFindByTitleResponse"/>
<xs:element name="articleKeywordsResponse" type="tns:articleKeywordsResponse"/>
<xs:element name="articleMoreLikeThisRequest" type="tns:articleMoreLikeThisRequest"/>
<xs:element name="articleMoreLikeThisResponse" type="tns:articleMoreLikeThisResponse"/>
<xs:element name="articleSaveRequest" type="tns:articleSaveRequest"/>
<xs:element name="articleSaveResponse" type="tns:articleSaveResponse"/>
<xs:complexType name="articleFindByAbstractFieldRequest">
<xs:sequence>
<xs:element minOccurs="0" name="abstract" type="xs:string"/>
<xs:element minOccurs="0" name="searchType" type="tns:searchType"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="articleFindByAbstractResponse">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="articles" type="tns:articleEL"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="articleEL">
<xs:sequence>
<xs:element minOccurs="0" name="abstracts" type="xs:string"/>
<xs:element minOccurs="0" name="article_id" type="xs:string"/>
<xs:element maxOccurs="unbounded" minOccurs="0" name="authors" nillable="true" type="tns:reviewer"/>
<xs:element minOccurs="0" name="filename" type="xs:string"/>
<xs:element minOccurs="0" name="highlight" type="xs:anyType"/>
<xs:element maxOccurs="unbounded" minOccurs="0" name="keywords" nillable="true" type="xs:string"/>
<xs:element minOccurs="0" name="magazineName" type="xs:string"/>
<xs:element maxOccurs="unbounded" minOccurs="0" name="reviewers" nillable="true" type="tns:reviewer"/>
<xs:element minOccurs="0" name="scientificField" type="xs:string"/>
<xs:element minOccurs="0" name="text" type="xs:string"/>
<xs:element minOccurs="0" name="title" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="reviewer">
<xs:sequence>
<xs:element name="age" type="xs:int"/>
<xs:element minOccurs="0" name="email" type="xs:string"/>
<xs:element minOccurs="0" name="firstName" type="xs:string"/>
<xs:element minOccurs="0" name="id" type="xs:string"/>
<xs:element minOccurs="0" name="lastName" type="xs:string"/>
<xs:element name="lat" type="xs:double"/>
<xs:element name="lon" type="xs:double"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="articleFindAllRequest">
<xs:sequence/>
</xs:complexType>
<xs:complexType name="articleFindAllResponse">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="articles" type="tns:articleEL"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="articleFindByKeywordsRequest">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="keywords" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="articleKeywordsResponse">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="articles" type="tns:articleEL"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="articleFindByMagazineRequest">
<xs:sequence>
<xs:element minOccurs="0" name="magazineName" type="xs:string"/>
<xs:element minOccurs="0" name="searchType" type="tns:searchType"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="articleFindByMagazineResponse">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="articles" type="tns:articleEL"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="articleFindByTitleRequest">
<xs:sequence>
<xs:element minOccurs="0" name="title" type="xs:string"/>
<xs:element minOccurs="0" name="searchType" type="tns:searchType"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="articleFindByTitleResponse">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="articles" type="tns:articleEL"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="articleFindByAuthorsNameAndSurnameRequest">
<xs:sequence>
<xs:element minOccurs="0" name="name" type="xs:string"/>
<xs:element minOccurs="0" name="surname" type="xs:string"/>
<xs:element minOccurs="0" name="searchType" type="tns:searchType"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="articleFindByAuthorsNameAndSurnameResponse">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="articles" type="tns:articleEL"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="articleFindByTextRequest">
<xs:sequence>
<xs:element minOccurs="0" name="text" type="xs:string"/>
<xs:element minOccurs="0" name="searchType" type="tns:searchType"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="articleFindByTextResponse">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="articles" type="tns:articleEL"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="articleSaveRequest">
<xs:sequence>
<xs:element minOccurs="0" name="article">
<xs:complexType>
<xs:sequence>
<xs:element name="filename" type="xs:ID"/>
<xs:element name="title" type="xs:string"/>
<xs:element name="content" type="xs:string"/>
<xs:element name="magazineName" type="xs:string"/>
<xs:element maxOccurs="unbounded" name="authors" type="tns:User"/>
<xs:element maxOccurs="unbounded" name="keywords" type="xs:string"/>
<xs:element name="abstracts" type="xs:string"/>
<xs:element maxOccurs="unbounded" name="reviewers" type="tns:User"/>
<xs:element name="scientificField" type="xs:string"/>
<xs:element name="file" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>
<xs:complexType name="User">
<xs:sequence>
<xs:element name="id" type="xs:string"/>
<xs:element name="firstName" type="xs:string"/>
<xs:element name="lastName" type="xs:string"/>
<xs:element name="email" type="xs:string"/>
<xs:element name="age" type="xs:int"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="articleSaveResponse">
<xs:sequence>
<xs:element minOccurs="0" name="article" type="tns:articleEL"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="articleBooleanQueryRequest">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="queries" type="tns:queryModel"/>
<xs:element minOccurs="0" name="operation" type="xs:string"/>
<xs:element minOccurs="0" name="searchType" type="tns:searchType"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="queryModel">
<xs:sequence>
<xs:element minOccurs="0" name="field" type="xs:string"/>
<xs:element minOccurs="0" name="value" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="articleBooleanQueryResponse">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="articles" type="tns:articleEL"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="articleFindByDistanceRequest">
<xs:sequence>
<xs:element minOccurs="0" name="article" type="tns:articleEL"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="articleFindByDistanceResponse">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="reviewers" type="tns:reviewer"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="articleFindByScientificFieldRequest">
<xs:sequence>
<xs:element minOccurs="0" name="scientificField" type="xs:string"/>
<xs:element minOccurs="0" name="searchType" type="tns:searchType"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="articleFindByScientificFieldResponse">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="articles" type="tns:articleEL"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="articleMoreLikeThisRequest">
<xs:sequence>
<xs:element minOccurs="0" name="text" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="articleMoreLikeThisResponse">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="articles" type="tns:User"/>
</xs:sequence>
</xs:complexType>
<xs:simpleType name="searchType">
<xs:restriction base="xs:string">
<xs:enumeration value="regular"/>
<xs:enumeration value="phrase"/>
<xs:enumeration value="geo"/>
<xs:enumeration value="bool"/>
</xs:restriction>
</xs:simpleType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="findByNameAndSurnameResponse">
    <wsdl:part name="parameters" element="tns:articleFindByAuthorsNameAndSurnameResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="findByAbstract">
    <wsdl:part name="parameters" element="tns:articleFindByAbstractFieldRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="findByTextResponse">
    <wsdl:part name="parameters" element="tns:articleFindByTextResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="findAll">
    <wsdl:part name="parameters" element="tns:articleFindAllRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="findByKeywords">
    <wsdl:part name="parameters" element="tns:articleFindByKeywordsRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="findByScientificFieldResponse">
    <wsdl:part name="parameters" element="tns:articleFindByScientificFieldResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="findByMagazineName">
    <wsdl:part name="parameters" element="tns:articleFindByMagazineRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="findByTitle">
    <wsdl:part name="parameters" element="tns:articleFindByTitleRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="findByNameAndSurname">
    <wsdl:part name="parameters" element="tns:articleFindByAuthorsNameAndSurnameRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="findByText">
    <wsdl:part name="parameters" element="tns:articleFindByTextRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="save">
    <wsdl:part name="parameters" element="tns:articleSaveRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="findByDistanceResponse">
    <wsdl:part name="parameters" element="tns:articleFindByDistanceResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="findByTitleResponse">
    <wsdl:part name="parameters" element="tns:articleFindByTitleResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="booleanQuery">
    <wsdl:part name="parameters" element="tns:articleBooleanQueryRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="findByMagazineNameResponse">
    <wsdl:part name="parameters" element="tns:articleFindByMagazineResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="findByKeywordsResponse">
    <wsdl:part name="parameters" element="tns:articleKeywordsResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="findByDistance">
    <wsdl:part name="parameters" element="tns:articleFindByDistanceRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="saveResponse">
    <wsdl:part name="parameters" element="tns:articleSaveResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="moreLikeThisResponse">
    <wsdl:part name="parameters" element="tns:articleMoreLikeThisResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="findByScientificField">
    <wsdl:part name="parameters" element="tns:articleFindByScientificFieldRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="moreLikeThis">
    <wsdl:part name="parameters" element="tns:articleMoreLikeThisRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="findAllResponse">
    <wsdl:part name="parameters" element="tns:articleFindAllResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="booleanQueryResponse">
    <wsdl:part name="parameters" element="tns:articleBooleanQueryResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="findByAbstractResponse">
    <wsdl:part name="parameters" element="tns:articleFindByAbstractResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="ArticleWebService">
    <wsdl:operation name="findByAbstract">
      <wsdl:input name="findByAbstract" message="tns:findByAbstract">
    </wsdl:input>
      <wsdl:output name="findByAbstractResponse" message="tns:findByAbstractResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="findAll">
      <wsdl:input name="findAll" message="tns:findAll">
    </wsdl:input>
      <wsdl:output name="findAllResponse" message="tns:findAllResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="findByKeywords">
      <wsdl:input name="findByKeywords" message="tns:findByKeywords">
    </wsdl:input>
      <wsdl:output name="findByKeywordsResponse" message="tns:findByKeywordsResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="findByMagazineName">
      <wsdl:input name="findByMagazineName" message="tns:findByMagazineName">
    </wsdl:input>
      <wsdl:output name="findByMagazineNameResponse" message="tns:findByMagazineNameResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="findByTitle">
      <wsdl:input name="findByTitle" message="tns:findByTitle">
    </wsdl:input>
      <wsdl:output name="findByTitleResponse" message="tns:findByTitleResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="findByNameAndSurname">
      <wsdl:input name="findByNameAndSurname" message="tns:findByNameAndSurname">
    </wsdl:input>
      <wsdl:output name="findByNameAndSurnameResponse" message="tns:findByNameAndSurnameResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="findByText">
      <wsdl:input name="findByText" message="tns:findByText">
    </wsdl:input>
      <wsdl:output name="findByTextResponse" message="tns:findByTextResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="save">
      <wsdl:input name="save" message="tns:save">
    </wsdl:input>
      <wsdl:output name="saveResponse" message="tns:saveResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="booleanQuery">
      <wsdl:input name="booleanQuery" message="tns:booleanQuery">
    </wsdl:input>
      <wsdl:output name="booleanQueryResponse" message="tns:booleanQueryResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="findByDistance">
      <wsdl:input name="findByDistance" message="tns:findByDistance">
    </wsdl:input>
      <wsdl:output name="findByDistanceResponse" message="tns:findByDistanceResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="findByScientificField">
      <wsdl:input name="findByScientificField" message="tns:findByScientificField">
    </wsdl:input>
      <wsdl:output name="findByScientificFieldResponse" message="tns:findByScientificFieldResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="moreLikeThis">
      <wsdl:input name="moreLikeThis" message="tns:moreLikeThis">
    </wsdl:input>
      <wsdl:output name="moreLikeThisResponse" message="tns:moreLikeThisResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ArticleWebServiceServiceSoapBinding" type="tns:ArticleWebService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="findByAbstract">
      <soap:operation soapAction="http://webService.demo.example.com/findByAbstract" style="document"/>
      <wsdl:input name="findByAbstract">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="findByAbstractResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="findAll">
      <soap:operation soapAction="http://webService.demo.example.com/findAll" style="document"/>
      <wsdl:input name="findAll">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="findAllResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="findByKeywords">
      <soap:operation soapAction="http://webService.demo.example.com/findByKeywords" style="document"/>
      <wsdl:input name="findByKeywords">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="findByKeywordsResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="findByMagazineName">
      <soap:operation soapAction="http://webService.demo.example.com/findByMagazineName" style="document"/>
      <wsdl:input name="findByMagazineName">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="findByMagazineNameResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="findByTitle">
      <soap:operation soapAction="http://webService.demo.example.com/findByTitle" style="document"/>
      <wsdl:input name="findByTitle">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="findByTitleResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="findByNameAndSurname">
      <soap:operation soapAction="http://webService.demo.example.com/findByNameAndSurname" style="document"/>
      <wsdl:input name="findByNameAndSurname">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="findByNameAndSurnameResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="findByText">
      <soap:operation soapAction="http://webService.demo.example.com/findByText" style="document"/>
      <wsdl:input name="findByText">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="findByTextResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="save">
      <soap:operation soapAction="http://webService.demo.example.com/save" style="document"/>
      <wsdl:input name="save">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="saveResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="booleanQuery">
      <soap:operation soapAction="http://webService.demo.example.com/booleanQuery" style="document"/>
      <wsdl:input name="booleanQuery">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="booleanQueryResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="findByDistance">
      <soap:operation soapAction="http://webService.demo.example.com/findByDistance" style="document"/>
      <wsdl:input name="findByDistance">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="findByDistanceResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="findByScientificField">
      <soap:operation soapAction="http://webService.demo.example.com/findByScientificField" style="document"/>
      <wsdl:input name="findByScientificField">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="findByScientificFieldResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="moreLikeThis">
      <soap:operation soapAction="http://webService.demo.example.com/moreLikeThis" style="document"/>
      <wsdl:input name="moreLikeThis">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="moreLikeThisResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ArticleWebService">
    <wsdl:port name="ArticlePort" binding="tns:ArticleWebServiceServiceSoapBinding">
      <soap:address location="http://localhost:9090/ArticlePort"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
